/*GIVES A REFERENCE HEIGHT AND WIDTH*/
html{
	height: 100%;
	width: 100%;
}

/*SETS THE ENTIRE PAGE'S BACKGROUND PHOTO*/
.home{
	padding: 0;
	margin: 0;
	background-image: url('img/cover.jpg');
	background-size: cover;
	background-attachment: fixed;
}

/*SETS AN AREA TO PUSH THE NAV BAR DOWN*/
.empty_div{
	height: 90vh;
	width: 100vw;
}

/*FLOATS MY NAV BAR AND FIXES IT TO THE BOTTOM OF THE PAGE*/
.nav_bar{
	float: left;
	position: fixed;
	width: 100vw;
	height: 10vh;
	padding-bottom: 0;
	background-color: rgba(255,255,255,0.4);
	vertical-align: text-center;
	z-index: 2
}

.nav_bar a{
	text-decoration: none
}

/*SETS THE NAV BAR ELEMENTS*/
.nav_el{
	padding-right:2%;
	margin:0;
	list-style-type: none;
	display: inline-block;
	z-index: 1;
	font-family: 'Cardo';
}

#amy_navlink{
	font-family:'Playfair Display SC', serif;
	font-size: 200%;
	padding-right: 20%;
}

/*SETS THE HOVER AND VISITED FOR EACH LINK*/

a:hover{
	color: brown;
}

a:visited{
	text-decoration: none;
}

/*STYLING OF THE ABOUT PAGE*/
h1 {
	text-align: right;
	font-style: italic;
	padding-right: 5%;
	font-family: 'Italianno', cursive;
}

/*STYLES THE ENTIRE CONTENT AREA, GIVES AN OPAQUE BACKGROUND*/
#about_text{
	margin-top: 10vh;
	height: 90vh;
	width: 100vw;
	background-color: white;
	list-style-type: none;
	display: inline-block;
	float: left;
}

/*EMPTY DIV FOR SPACING, SUCH THAT THE ABOUT PAGE DOESN'T CONFLICT WITH THE NAV_BAR*/
.another_empty{
	float: left;
	height:10vh;
	width: 100vw;
	background: rgba(0);
}

.about_nouns{
	list-style-type: none;
	display: inline-block;
	float: left;
	padding-right: 2%;
}

.about_photos{
	width: 20vw;
	height: 40vw;
	padding: 3%;
	opacity: .5;
	margin-bottom: 10%;
	border: solid;
	border-width: 40%;
}

a:hover .about_photos{
	opacity: 1;
	-moz-transform: scale(1.05); 
	-webkit-transform:scale(1.05);
	-o-transform:scale(1.05);
}

#about_photo1{
	background-image: url('img/student2.jpg');
	background-size: cover;
}

#about_photo2{
	background-image: url('img/traveler.jpg');
	background-size: cover;
}

#about_photo3{
	background-image: url('img/speaker2.jpg');
	background-size: cover;
}

#about_photo4{
	text-align: right;
	opacity: 1;
	font-family: 'Cardo', serif;
	font-style: italic;
	border-radius: 20px;
}




/* My attempts to figure out a grid layout for my about page

.about_photos{
	width: 20vw;
	height: 75vh;
	padding:5%;
	opacity: .5;
}

.stack_photos{
	list-style-type: none;
	display: block;
	height: 30vh;
	width: 30vw;
}

#about_photo1{
	background-image: url("img/student2.jpg");
	background-size: contain;
	background-repeat: none;
	height: 50vh;
}

#about_photo2{
	background-image: ur("img/traveler.jpg");
	background-size: contain;
	height: 50vh;
}

#about_photo3{
	background-image: url("img/speaker2.jpg");
	background-size: contain;
	background-repeat: no-repeat
}*/
